@model IEnumerable<TravelOhioMVC.Models.City>

@{
    ViewBag.Title = "Index";
}

<h2>Ohio City Reviews</h2>

<p>
    Don't see your favorite city listed? | @Html.ActionLink("Create New", "Create", "Cities")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CityMetro)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CityMetro)
        </td>
        <td>
            @Html.ActionLink("Read Reviews", "Index", "ReviewCities") |
            @Html.ActionLink("Write a Review", "Create", "ReviewCities") |
            @Html.ActionLink("Edit", "Edit", new { id=item.CityID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CityID })
        </td>
    </tr>
}

</table>
