@model IEnumerable<TravelOhioMVC.Models.ReviewFestival>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@foreach (var item in Model)
    {
        <row>
            <div class="reviewtitle">
                @Html.DisplayFor(modelItem => item.Title)
            </div>
        </row>
        <row>
            <div col="col-xs-4 col-sm-4 col-md-4 col-lg-4" class="city">
                @Html.DisplayFor(modelItem => item.Festival.LocalFestival)
            </div>
            <div col="col-xs-4 col-sm-4 col-md-4 col-lg-4" class="rating">
                @Html.DisplayFor(modelItem => item.Rating)
            </div>
        </row>
        <row>
            <div col="col-xs-4 col-sm-4 col-md-4 col-lg-4" class="UserName">
                @Html.DisplayFor(modelItem => item.UserName)
            </div>
            <div col="col-xs-4 col-sm-4 col-md-4 col-lg-4" class="Attended">
                @Html.DisplayFor(modelItem => item.Attended)
            </div>
        </row>
        <row>
            <p class="ReviewText">
                @Html.DisplayFor(modelItem => item.ReviewText)
            </p>
        </row>
        <tr>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ReviewFestivalID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ReviewFestivalID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ReviewFestivalID })
            </td>
        </tr>
    }
