@model IEnumerable<TravelOhioMVC.Models.ReviewCity>

@{
    ViewBag.Title = "Read Reviews";
}

<h2>Ohio City Reviews</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.City.CityMetro)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.City.CityMetro)
        </td>
        <td>
            @Html.ActionLink("Read Reviews", "Details", "ReviewCity") |
            @Html.ActionLink("Edit", "Edit", new { id=item.ReviewCityID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ReviewCityID })
        </td>
    </tr>
}

</table>
